.side-navigation {
  display: grid;
  align-content: flex-start;
  padding: rem(16);
  background-color: $mainColor;
  color: $White;
  z-index: 5;

  @media (min-width: $pc) {
    padding: rem(30);
  }
  @media (max-width: $mobile) {
    // @include adaptiveValue("padding-top", 68, 48);
  }

  // .side-navigation__wrapper
  &__wrapper {
    display: grid;
    align-content: flex-start;
    row-gap: rem(24);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .logo {
    @media (min-width: $mobile) and (max-width: $pc) {
      display: none;
    }
  }

  .icon-menu {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      height: rem(40);
      margin-bottom: rem(-20);
    }
  }
}

.side-menu {

  // .side-menu__caption
  &__caption {
    font-size: rem(10);
    line-height: 130%;
    letter-spacing: em(0.7, 10);
    text-transform: uppercase;
    color: $menu-grey;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    @media (min-width: $mobile) and (max-width: $pc) {
      display: none;
    }
  }

  // .side-menu__list
  &__list {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
}

.menu-item {
  & > a {
    display: flex;
    align-items: center;
    gap: rem(8);
    padding: rem(8);
    border-radius: rem(8);
    color: $menu-grey;
    transition:
      $transition ease color,
      $transition background-color 0s;

    &::before {
      font-size: rem(24);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $White;
        background-color: #202333;
      }
    }
  }

  &.menu-item_active {
    a {
      color: $White;
    }
  }

  // .menu-item__caption
  &__caption {
    flex: 1;

    @media (min-width: $mobile) and (max-width: $pc) {
      display: none;
    }
  }

  // .menu-item__notification
  &__notification {
    display: block;
    padding: rem(2) rem(6);
    border-radius: rem(20);
    font-weight: 500;
    font-size: rem(12);
    line-height: 150%;
    background-color: $dark-grey-bg;
  }

  ._icon-chevron-right {
    font-size: rem(24);
  }

  &._active {
    & > a {
      color: $White;
    }

    .sub-menu {
      opacity: 1;
      visibility: visible;
      pointer-events: all;

      @media (min-width: $mobile) {
        transform: translateX(100%);
      }
    }
  }
}

.sub-menu {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  padding: rem(16);
  height: 100%;
  width: 100%;
  background-color: #0f111d;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition ease all 0s;

  @media (min-width: $mobile) {
    width: rem(320);
    padding: rem(30);
    transform: translateX(95%);
    border-left: rem(1) solid $Grey;
  }
  @media (max-width: $mobile) {
    left: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  // .side-menu__back
  &__back {
    @media (min-width: $mobile) {
      display: none;
    }
    @media (max-width: $mobile) {
      display: inline-flex;
      align-items: center;

      &::before {
        font-size: rem(24);
      }

      &:not(:last-child) {
        margin-bottom: rem(16);
      }
    }
  }

  // .sub-menu__caption
  &__caption {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  ul {
    a {
      display: block;
      padding: rem(8) rem(16);
      border-radius: rem(8);
      color: $menu-grey;
      transition:
        $transition ease color,
        $transition background-color 0s;

      @media (any-hover: hover) {
        &:hover {
          color: $White;
          background-color: #202333;
        }
      }
    }
  }
}

.support-manager {
  // .support-manager__name
  &__name {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }

  // .support-manager__contacts
  &__contacts {
  }
}

.contacts {
  display: grid;
  align-content: flex-start;
  row-gap: rem(16);

  // .contacts__item
  &__item {
    a,
    div {
      display: inline-flex;
      align-items: center;
      gap: rem(8);

      &::before {
        font-size: rem(24);
        color: $menu-grey;
      }
    }

    a {
      @media (any-hover: hover) {
        &:hover {
          span {
            text-decoration: underline from-font;
          }
        }
      }

      span {
        text-decoration: underline transparent from-font;
        text-underline-offset: 3px;
        transition: $transition ease text-decoration 0s;
      }
    }
  }
}
