@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Основные переменные ===========================================================================================================================================================================================================================================================================
@import "variables";

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}

	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;

	@media (min-width: $mobile) {
		display: grid;
		grid-template-columns: rem(72) 1fr;
		grid-template-rows: max-content;
		grid-template-areas: "aside main";
	}
	@media (min-width: $pc) {
		grid-template-columns: rem(280) 1fr;
	}

	& > aside {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;

		@media (min-width: $mobile) {
			grid-area: aside;
			width: rem(72);
		}
		@media (min-width: $pc) {
			width: rem(280);
		}
		@media (max-width: $mobile) {
			transform: translateY(-100%);
			transition: $transition ease transform 0s;

			.menu-open & {
				transform: translateY(0%);
			}
		}
	}

	// Прижимаем footer
	& > main {
		flex: 1 1 auto;

		@media (min-width: $mobile) {
			grid-area: main;
		}
	}

	// Фикс для слайдеров swiper
	> * {
		min-width: 0;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
	@if ($maxWidthContainer>0) {
		max-width: rem($maxWidthContainer);
		box-sizing: content-box;
		margin: 0 auto;
	}
	@if ($containerPadding>0) {
		@include adaptiveValue("padding-left", 46, math.div($containerPadding, 2), 1440, 1280, 1);
		@include adaptiveValue("padding-right", 46, math.div($containerPadding, 2), 1440, 1280, 1);
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "sidebar";
@import "main";
// @import "footer";
