// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Roboto";
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #0f111d; // Цвет шрифта по умолчанию
$Grey: #595c6d;
$White: #fff;
$stroke-grey: #e2e1e4;
$bg-grey: #eef0f4;
$purple-main: #4d48ce;
$purple-light: #b2b2f6;
$purple-bg: #edf3fd;
$menu-grey: #8c8e9c;
$dark-grey-bg: #1d2031;
$status-orange: #d3862c;
$status-orange-bg: #fce7ce;
$status-red: #ce4848;
$status-red-bg: #fbdfdf;
$status-green: #58b02f;
$status-green-bg: #def6d3;
$dark-grey: #8b8d9b;

$scrollTrack: transparent;
$scrollThumb: #8c8e9c;

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 0;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 32;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(1279.98); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileM: em(574.98); // Телефоны M
$mobileSmall: em(479.98); // Телефоны S

$transition: 0.3s;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
